{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls</title>
    <link href="{%static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>

    <header id="header" style="padding:15px; border-bottom:2px solid #F69433;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/user"><img src="../static/images/logo.png" alt="Django Girls Logo"></a>

                    <a href="{% url 'create-post' %}">GO</a>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/user">Hello,Jenifer!</a>
                            </li>
                            <li>
                                <a href="login.html"><i class="glyphicon glyphicon-log-out"></i></a>
                            </li>
                        </ul>

                </div>
            </div>
        </div>
    </header>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                </div>
              <div class=" col-md-3">
                <a href="/post" class="thumbnail" style="background-image:url(../static/images/pic1.jpg) ">
                </a>
              </div>
                <div class=" col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic2.jpg) ">
                </a>
              </div>
                <div class=" col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic3.jpg) ">
                </a>
              </div>
                <div class=" col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic4.jpg) ">
                </a>
              </div>
                <div class=" col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic5.jpg) ">
                </a>
              </div>
                <div class=" col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic6.jpg) ">
                </a>
              </div>
                <div class="col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic7.jpg) ">
                </a>
              </div>
                <div class="col-md-3">
                <a href="#" class="thumbnail" style="background-image:url(../static/images/pic8.jpg) ">
                </a>
              </div>
            </div>
        </div>
    </section>

</body>
</html>